/* Cores utilizadas
- Rosa escuro: `mediumvioletred`
- Rosa claro: `#f2d0e0`
- Sombra do card: `darkgray` */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    background: purple;
}

.container{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "h h"
                        "m a"
                        "f f";
    height: 100%;
}

header{
    background: mediumvioletred;
    grid-area: h;
    height: auto;
    width: 100%;
}
.loja{
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
    justify-items: center;
}
.topo{
    display: grid;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    align-items: center;
    justify-items: center;
    column-gap: 80%;
} 

.topo img{
    width: 30px;
}
.topo h2{
    font-weight: bold; 
}
.topo button{
    max-width: 50%;
    max-height: 50%;
}


main{
    background: #f2d0e0;
    grid-area: m;
}

.botao-menu{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    padding: 10px;
    margin: 5px;
    vertical-align: center;
    align-items: center;
}

.botao-menu img{
    width: 3vh;
}
.botao-menu p{
    font-weight: bold;
    text-align: left;
    align-items: center;
}

aside{
    background: white;
    grid-area: a;
}
.bolos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
    column-gap: 40px;
    row-gap: 40px;
    max-width: 100%;
    margin: 20px;
}
.card-bolo{
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 5px 5px 5px darkgray;  
    width: 100%;

}
.card-bolo img{
    max-width: 100%;
    height: auto;
}
.card-bolo h3{
    font-weight: bold;
}

footer{
    background: mediumvioletred;
    grid-area: f;
    /* position: absolute;
    bottom: 0;
    left: 0;
    right: 0; */
}

.obrigado{
    text-align: center;
    font-weight: bold;
}